<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find sim_bot)/description/inertial_macros.xacro"/>

  <xacro:macro name="sim_bot_lidar">

    <material name="lidar_black">
      <color rgba="0.05 0.05 0.05 1"/>
    </material>

    <joint name="laser_joint" type="fixed">
      <parent link="chassis"/>
      <child link="laser_frame"/>
      <origin xyz="0.11 0 0.27" rpy="0 0 0"/>
    </joint>

    <link name="laser_frame">
      <visual>
        <geometry>
          <cylinder radius="0.04" length="0.04"/>
        </geometry>
        <material name="lidar_black"/>
      </visual>

      <collision>
        <geometry>
          <cylinder radius="0.04" length="0.04"/>
        </geometry>
      </collision>

      <xacro:inertial_cylinder mass="0.05" radius="0.04" length="0.04"/>
    </link>

    <gazebo reference="laser_frame">
      <material>Gazebo/Black</material>
      <sensor name="laser" type="gpu_lidar">
        <pose>0 0 0 0 0 0</pose>
        <topic>scan</topic>
        <gz_frame_id>laser_frame</gz_frame_id>
        <update_rate>10</update_rate>
        <always_on>1</always_on>
        <visualize>true</visualize>
        <lidar>
          <scan>
            <horizontal>
              <samples>180</samples>
              <resolution>1</resolution>
              <min_angle>-1.5708</min_angle>
              <max_angle>1.5708</max_angle>
            </horizontal>
            <vertical>
              <samples>1</samples>
              <resolution>1</resolution>
              <min_angle>0</min_angle>
              <max_angle>0</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.12</min>
            <max>12.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </lidar>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
