<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find sim_bot)/description/robot_core.xacro"/>
  <xacro:include filename="$(find sim_bot)/description/ros2_control.xacro"/>
  <xacro:include filename="$(find sim_bot)/description/gazebo_control_plugin.xacro"/>
  <xacro:include filename="$(find sim_bot)/description/lidar.xacro"/>

  <xacro:robot_core/>
  <xacro:sim_bot_ros2_control/>
  <xacro:sim_bot_gazebo_control_plugin/>
  <xacro:sim_bot_lidar/>

</robot>