<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find real_bot)/description/robot_core.xacro"/>
  <xacro:include filename="$(find real_bot)/description/lidar.xacro"/>
  <xacro:include filename="$(find real_bot)/description/imu.xacro"/>

  <xacro:robot_core/>
  <xacro:real_bot_lidar/>
  <xacro:real_bot_imu/>

</robot>
